    <section id="footer-section">
        <footer>
            <div class="backgroundColor">
                <div class="backgroundText">
                <p>Open source project created by Duc Tran</p>
                <a href="https://github.com/WeirdHuman"><i class="fab fa-github"> GitHub</i></a>
                <p>Data provided by Marvel. © 2019 MARVEL</p>
                 <div class="media-icon">
                        <a href="https://www.instagram.com/marvel/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.snapchat.com/add/marvelhq/"><i class="fab fa-snapchat"></i></a>
                </div>
                </div>
            </div>
        </footer>
    </section>
    </body>
</html>