<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/WWPsZbn/Absorbing.jpg">
    <div class="character-name">
        <h3>The Crusher</h3>
        <h1>Absorbing - Man</h1>
    </div>
</div>
<div class="character-bio">
<h3> Crusher Creel's life was little more than that of any common criminal. Although he did spend some time as a boxer, he usually resorted to petty crime. It was on one such extortion racket that he was convicted of aggravated assault and remanded to prison.
</h3>
<p>Loki, the Asgardian god of mischief, knew Creel would be the perfect unwitting agent to battle Thor, so he slipped an enchanted potion into Creel's drinking water in the prison commissary. Filled with power, Creel broke out of prison and soon found himself in conflict with Thor. He found he could absorb the properties of Thor's hammer as well as Thor himself, and Creel, calling himself the Absorbing Man, managed to force Thor to flee. In fact, Thor was told that his love, Jane Foster, had been kidnapped by Loki, and he left to rescue her. A braggart and lout to the end, Creel flaunted his "success" until Thor returned after making sure Jane Foster was safe. A violent battle ensued, but Thor managed to use his hammer's magic to alter the elements Creel had transformed into. Suddenly forced into the qualities of helium, the Absorbing Man drifted apart.
</p>
<p>At some point, Creel was imprisoned in a maximum-security penitentiary. He had also somehow developed a new aspect of his powers, allowing him to take over the mind of another. He used this ability to take control of the Hulk and make an escape. In the battle that followed, the Absorbing Man defeated the Hulk but was tricked into trying to take over the mind of a corpse. His real body withered and died. He was imprisoned again, serving time at Pym Experimental Penitentiary Number One, a prison that kept its super-powered inmates miniaturized, and participated in a breakout led by the Mad Thinker only to be thwarted by She-Hulk.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>