<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/72mQXy5/Abyss.jpg">
    <div class="character-name">
        <h3>The .....</h3>
        <h1>Abyss</h1>
    </div>
</div>
<div class="character-bio">
<h3> Once a Mutate on the island nation of Genosha, Abyss was among many who contracted the deadly mutant-killing Legacy Virus. Professor Charles Xavier recruited Abyss into the Mutant Underground, a secret cabal of both mutants and pro-mutant human supporters fighting for the vindication of mutantkind, and assigned him as a bodyguard for Genoshan scientist Renee Majcomb who was researching a cure for the Virus
</h3>
<p> Secreted away deep in the Louisiana bayou, Abyss aided the mutant soldier from the future Cable, his mercenary ally Domino and the techno-organic alien Douglock in preventing First Strike soldiers from the anti-mutant taskforce Operation: Zero Tolerance from capturing Majcomb.
</p>
<p>After a cure for the Virus had been released, Abyss found himself in Berlin battling the fire-wielding mutant Fever Pitch. Both were captured by the mutant X-Corps militia led by the former X-Man Banshee. While being held for scientific study, Abyss witnessed the murder of the Japanese mutant Sunpyre by rogue X-Corps members. Following the revelation that the shape-changing mutant terrorist Mystique had infiltrated the X-Corps in an attempt to seize its assets for her own use, a wounded Banshee freed Abyss from his confinement, allowing him to use his power to pull Mystique into the void within his body.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>