<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/ZNym7DG/AIM.jpg">
    <div class="character-name">
        <h3>The Most Ironic Character</h3>
        <h1>A.I.M</h1>
    </div>
</div>
<div class="character-bio">
<h3>
Born in the late 19th century to a noble Prussian family who had relocated to Bavaria following the Franco-Prussian War, Wolfgang von Strucker became a Heidelberg fencing champion, and was disfigured by facial scars. Strucker fought for Germany during World War I, during which he first encountered the jewel "Momentary Princess," which was fated to appear and disappear at regular intervals of time. Wolfgang pursued the jewel in the decades that followed. When Adolf Hitler rose to power in Germany in 1933, Baron Strucker joined the Nazi Party, becoming infamous in the following years. In 1936 he and Geist, one of Hitler's top men, allied themselves with the Egyptian mentalist Amahl Farouk-secretly the Shadow King-in an attempt to dispute the lineage of England's royal family and install a new king who would be sympathetic to the Nazis.
</h3>
<p>As World War II began, Strucker was appointed wing commander of the Death's Head Squadron by Hitler, and, in 1941, he was sent to Madripoor to help the Hand ninja cult transform young Natasha Romanova into their master assassin, only to be defeated by Wolverine, Captain America, and Ivan Petrovitch. Later in 1941, Strucker invaded Latveria, seeking to use the Sturm-Fånger ("Storm-Catcher") to control cosmic energies; the device was wrecked by time-traveling members of X-Force.
</p>
<p>
such as Henry Gyrich of the Commission on Superhuman Activities with nannites, allowing him to control them. Under Strucker's influence, Gyrich nearly killed every superhuman on Earth with the nannites. Strucker's involvement was finally discovered by the V-Battalion, who thwarted his attempt to control everyone on Earth with nannites.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>