<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class=background>
    <div class="title">
        <h1> Black Widow</h1>
    </div>
    <div class="imageSection">
        <img src="https://serving.photos.photobox.com/50120843b0ef84338a3ef594026573025f107487e061f4da29a98bbf506044a1f0f7bcc2.jpg">
        <img src="https://serving.photos.photobox.com/3991374019e52897bded6870ccb90258f7d6df16951b5e2ccd910939afa3fa4d8e107273.jpg">
    </div>
    <div class="title">
        <h1>Overview</h1>
    </div>
    <div class="GRID">
        <div class="GRIDitem">
            <p>Scarlett Johansson reprises her role as Natasha/Black Widow in Marvel Studios’ action-packed spy thriller “Black Widow”—the first film in Phase Four of the Marvel Cinematic Universe. Florence Pugh stars as Yelena, David Harbour as Alexei aka The Red Guardian and Rachel Weisz as Melina. Directed by Cate Shortland and produced by Kevin Feige, “Black Widow” hits U.S. theaters on May 1, 2020.</p>
        </div>
         <div class="GRIDitem">
            <h3>Director:<span> Who</span></h3>
            <h3>Cast:<span> Who's</span></h3>
            <h3>Date:<span> May 1, 2020</span></h3>
        </div>
    </div>
    <section id="ThreeIcon">
        <div class="ThreeIcon">
            <a href="https://www.instagram.com/marvel/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.snapchat.com/add/marvelhq/"><i class="fab fa-snapchat"></i></a>
        </div>
    </section>
</div>
<%include partials/widow.ejs %>