<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class=background>
    <div class="title">
        <h1>Image Stories</h1>
    </div>
    <div class="Grid">
        <div class="Grid-Item Item1">
            <img src="https://i.imgur.com/RDejRNG.jpg">
        </div>
        <div class="Grid-Item Item2">
            <img src="https://i.imgur.com/EjNVid0.jpg">
        </div>
        <div class="Grid-Item Item3">
            <img src="https://i.imgur.com/TGB0ecO.jpg">
        </div>
        <div class="Grid-Item Item4">
            <img src="https://i.imgur.com/mV5FIMm.jpg">
        </div>
        <div class="Grid-Item Item5">
            <img src="https://i.imgur.com/1dHXVyp.jpg">
        </div>
    </div>
    <section id="ThreeIcon">
        <div class="ThreeIcon">
            <a href="https://www.instagram.com/marvel/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.snapchat.com/add/marvelhq/"><i class="fab fa-snapchat"></i></a>
        </div>
    </section>
</div>
<%include partials/widow.ejs %>