<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/vZMFbN8/Abomb.jpg">
    <div class="character-name">
        <h3>The Blueish Monster</h3>
        <h1>ABOMB - HAS</h1>
    </div>
</div>
<div class="character-bio">
<h3>Rick Jones was a rebellious youth, and one day he ran away from a state institution for troubled teens. He drove to an army test site, where experiments involving gamma bombs were being conducted. Hulk|Dr. Bruce Banner, the designer of the gamma bombs, realized that Rick was on the testing field, and threw him to safety, absorbing the radiation himself. As a result of this, Banner transformed into the hulk. Jones remained with the Hulk for some time, becoming a close friend.
</h3>
<p>A-Bomb was on hand when Banner decided it was time to teach his son, Skaar, the importance of teamwork by organizing a somewhat friendly game of football, but an unscheduled visit by the new Harpy forced them to oppose each other as Rick found out she was none other than Marlo. When the Harpy was finally subdued, A-Bomb took her away from the others to keep her safe. He returned after General Ross was killed by the Red Hulk and attended the memorial service.
</p>
<p>
Rick went on to help Bruce Banner and the Red Hulk in their war against the Intelligencia, but he mainly acted as a chaperone to the red goliath in order to keep tabs on his whereabouts. Using his amazing camouflage ability, Rick trailed Red Hulk to an A.I.M. facility where the Cosmic Hulk was stored, but in an unfortunate turn of events, Rick and Red Hulk were pummeled by the powerful robotic copy. Following that incident, A-Bomb watched as Red Hulk gave aid to Thundra, sending her back to her time and burying a time machine for her people to find in the future. After the warrior woman was gone, A-Bomb attacked, hoping to uncover some of the blurred facts behind his metamorphosis. His mind still hazy from being experimented on, Rick knew Red Hulk had the answers. He just had to trick him into giving them up, and the best way to do that was by making him feel confident from triumph in battle.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>