<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
    <div class="catchContent">
        <h1>Catch Me</h1>
    </div>
    <div class="specialGrid">
        <div class="specialGridItem">
            <img src="https://i.imgur.com/MrLtg5C.jpg">
        </div>
        <div class="specialGridItem">
            <img src="https://i.imgur.com/ifbny2Q.jpg">
        </div>
    </div>
    <div class="CatchGridItem">
        <h1>Stories</h1>
        <p>With amazing spider-like abilities, teenage science whiz Peter Parker fights crime and dreams of becoming an Avenger as Spider-Man.</p>
    </div>
    <section id="ThreeIcon">
        <div class="ThreeIcon">
            <a href="https://www.instagram.com/marvel/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.snapchat.com/add/marvelhq/"><i class="fab fa-snapchat"></i></a>
        </div>
    </section>
</div>
<%include partials/page.ejs %>