<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/C8SyMRZ/Emil.jpg">
    <div class="character-name">
        <h3>The Monster</h3>
        <h1>Emil Blonsky</h1>
    </div>
</div>
<div class="character-bio">
<h3> Formerly known as Emil Blonsky, a spy of Soviet Yugoslavian origin working for the KGB, the Abomination gained his powers after receiving a dose of gamma radiation similar to that which transformed Bruce Banner into the incredible Hulk. As a result he was permanently transformed into a massive green-skinned monster whose physical power was equivalent to, if not greater than, that of the Hulk. While he was able to maintain his normal level of self-control and intelligence after this transformation, he is unable to return to human form.
</h3>
<p>Given his gamma-spawned origins, Blonsky blames his condition on Banner and his alter ego, the Hulk. The Abomination and the Hulk have clashed on numerous occasions, with Blonsky perpetually playing the role of the aggressor. Although Blonsky occasionally gains the upper hand in their battles, the Hulk manages to triumph in the end. But not always; the Abomination is one of the few who can lay claim to victory over the green-skinned goliath.
</p>
<p>Months later, the still-grieving General Ross manipulated the Hulk into attacking and almost killing Blonsky. The Abomination was taken into custody by the military; as punishment, he was forced to watch a film loop of himself and his wife prior to his transformation, making his incarceration a constant reminder of what he has lost.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>