<%include partials/errorPage.ejs %>
<div class="errorContent">
<div class="errorText">
    <h3>Weird...!!!!! This character is going Away.!</h3>
    <p>Look for another character.</p>
    <p>.........</p>
    <a href="/">Back</a>
</div>
<img src="https://i.ibb.co/JpJ2P9D/Error.png">
</div>
<%include partials/page.ejs %>