<%include partials/header.ejs %>
<div class="logo">
<h1>MARVEL Universe</h1>
</div>
<div class="navContainer">
<h3 class="explore">EXPLORE</h3>
<form action="/hero" method="POST">
<input type="text" name="hero" placeholder="Hero">
<button>GO HERO</button>
</form>
</div>
<div class=background>
        <div class="grid-container">
            <div class="grid-item item1">
                <a href="/BlackWidow"><img src="https://i.ibb.co/zX0HXQz/Edit1.png"></a>
            </div>
            <div class="grid-item item2">
                <a href="/BlackWidowShowcase"><img src="https://i.ibb.co/n6vw3jg/Edit2.png"></a>
            </div>
        </div>
    <section id="mid-section">
    <h1 class="featured">Feature</h1>
    <div class="grid-container2">
        <div class="grid-item2 grid1">
            <a href="/comics/special">
            <img src="https://s5.gifyu.com/images/marvelGif.gif">
            <h3>Comics Of The Year</h3>
            </a>
        </div>
        <div class="grid-item2 grid2">
            <a href="/television/special">
            <img src="https://i.ibb.co/vsz89Xm/who.png">
            <h3>Who Versus Who - Friday at 4:20 PM on meTV</h3>
            </a>
        </div>
        <div class="grid-item2 grid3">
            <a href="/television/onair">
            <img src="https://s5.gifyu.com/images/Deadpoll.gif">
            <h3>SPECIAL - Now Premiere - Ticket for Shows</h3>
            </a>
        </div>
        <div class="grid-item2 grid4">
            <img src="https://i.ibb.co/b7Lq3TS/Edit-Spider.png">
        </div>
        <div class="text">
        <h1>Catch <span>Me</span></h1>
        <p><a href="/catchme">Full Story Here</a></p>
        </div>
    </div>
    </section>
    
    <section id="bottom-section"> 
        <div class="who-hero">
            <img src="https://i.ibb.co/mGZ0dQ9/Marvel-Edit.png">
            <div class="text-hero">
                <h1 class="text1">Who</h1>
                <h1 class="text2">You</h1>
                <h1 class="text3">With</h1>
            </div>
        </div>
        <div class="flex-container">
            <div class="flex-item">
                <ul>
                    <a href="/hero/3DMan">
                    <li>
                        <img src="https://i.ibb.co/B2HktxX/3-D.jpg">
                    </li>
                    <h3>3-D Man</h3>
                    </a>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <a href="/hero/ABomb">
                    <li>
                        <img src="https://i.ibb.co/zZndjSf/ABOM.jpg">
                    </li>
                    <h3>A-Bomb</h3>
                    </a>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <a href="/hero/AIM">
                    <li>
                        <img src="https://i.ibb.co/BTdHF2P/AIM.jpg">
                    </li>
                    <h3>A.I.M.</h3>
                    </a>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <a href="/hero/Emil">
                    <li>
                        <img src="https://i.ibb.co/NmRdFDM/Emil.jpg">
                    </li>
                    <h3>Emil Blonsky</h3>
                    </a>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <a href="/hero/Absorbing">
                    <li>
                        <img src="https://i.ibb.co/cYD65b2/Absorbing.jpg">
                    </li>
                    <h3>Absorbing Man</h3>
                    </a>
                </ul>
            </div>
            <div class="flex-item">
                <ul>
                    <a href="/hero/Abyss">
                    <li>
                        <img src="https://i.ibb.co/pf2Gz6g/Abyss.jpg">
                    </li>
                    <h3>Abyss</h3>
                    </a>
                </ul>
            </div>
        </div>
    </section>
</div>
<%include partials/footer.ejs %>