<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
<section id="character-information">
<div class="character-contents">
<img src="https://i.ibb.co/ZLrY3Xx/3D-Man.png">
    <div class="character-name">
        <h3>The Most Underrated Character</h3>
        <h1>The 3D - Man</h1>
    </div>
</div>
<div class="character-bio">
<h3>The 3-D Man was a date-back hero who came through the unique merger of the two Brothers. Hall and Chuck Chandler.
    Chuck was a pilot who was taken by the alien Skulls during the test flight. After successfully escaped from the alien Skull's
    space-ship; Chuck accidently caused the space-ship to explode and that explosion take him along into the abyss.
    Hal later discovered, however, that the light burst had imprinted an image of Chuck on each lens of Hal's eyeglasses. Through concentration, Hal could merge the images and cause Chuck to reappear as a three-dimensional man. Chuck become the costumed adventurer known as the 3-D Man and single-handedly subverted the Skrulls' early attempts to undermine Earthly civilization.
</h3>
<p>After a brief career as a costumed adventurer, Hal decided to retire the 3-D Man, partly because he was thinking about starting a family, and partly because he was afraid his brother's consciousness might somehow be lost during periods when Hal was the 3-D Man's dominant consciousness. Hal settled down into a career as a research scientist, got married to Chuck's former girlfriend, and raised two sons. He had only activated the 3-D Man twice in recent years, once to fight a rampaging Hulk. During this time as 3-D Man, Chuck seemed to be its dominant consciousness again.
</p>
<p>
More recently, Hal began to feel a strange impulse to travel to the Himalayan Mountains of India. Unbeknownst to him, the presence of a powerful mystical artifact was calling to him. The artifact was a pyramid-shaped shard of light, one of three such shards that were created by the universe in reaction to the presence of pure evil that was cast adrift in this dimension by the extradimensional gods known as the Trion. One of these shards was captured by the Skrulls who had abducted Chuck Chandler, and its energies had merged with Chuck in creating the 3-D Man.
</p>
</div>
</section>
</div>
<%include partials/footer.ejs %>