<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
                <div class="title">
                    <h1>Contest Of Champions</h1>
                </div>
                <div class="gridContest">
                    <div class="grid-Item ITEM1">
                        <img src="https://i.imgur.com/Ajx3wvl.jpg">
                    </div>
                    <div class="grid-Item ITEM2">
                        <img src="https://i.imgur.com/wV1N1Cv.jpg">
                    </div>
                    <div class="grid-Item ITEM3">
                        <img src="https://i.imgur.com/8KdA9YG.jpg">
                    </div>
                    <div class="grid-Item ITEM4">
                        <img src="https://i.imgur.com/XZqQipr.jpg">
                    </div>
                </div>
                <Section id="contestOverview">
                <div class="title">
                    <h1>Overview</h1>
                </div>
                <div class="GRID">
                    <div class="GRIDitem">
                        <p>Maestro’s team of dark Avengers were powerful enough to go toe-to-toe with the renegade Champions, but are they too powerful even for him?</p>
                    </div>
                    <div class="GRIDitem">
                        <h3>Director:<span> Who</span></h3>
                        <h3>Cast:<span> Who's</span></h3>
                        <h3>Date:<span> On meTV NOW</span></h3>
                    </div>
                </div>
                </section>
                <section id="ThreeIcon">
                    <div class="ThreeIcon">
                        <a href="https://www.instagram.com/marvel/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.snapchat.com/add/marvelhq/"><i class="fab fa-snapchat"></i></a>
                    </div>
                </section>
</div>
<%include partials/page.ejs %>