<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class="background">
    <div class="title">
        <h1> Special</h1>
    </div>
    <div class="specialGrid">
        <div class="specialGridItem">
            <img src="https://i.imgur.com/pAHuzFS.jpg">
        </div>
        <div class="specialGridItem">
            <img src="https://i.imgur.com/WTy71sL.jpg">
        </div>
    </div>
    <div class="specialGridItem">
        <h1>Now Premiere</h1>
    </div>
</div>
<%include partials/page.ejs %>