<%include partials/header.ejs %>
<div class="logo2">
<h1>MARVEL Universe</h1>
<br>
<br>
<a href="/">Back</a>
</div>
<div class=background>
    <div class="emptySpace">
    <div class="imageContainer">
        <img src="https://i.annihil.us/u/prod/marvel/i/mg/6/80/53d2ad427686c/clean.jpg">
    </div>
    <div class="specialText">
        <h1>Black Widow (xxx) #9 </h1>
        <h2>Published - <span>August 06, 2014</span></h2>
        <h2>Writer - <span>Nathan Edmondson</span></h2>
        <h2>Cover Artist - <span>Phillip J.Noto</span></h2>
        <hr>
        <h2>Description</h2>
        <p>"FRIEND FROM FOE." In the pursuit of XAOC, Black Widow finds THE PUNISHER! And they are trapped on an abandoned oil tanker rigged to explode with CROSSBONES and his SKULL SQUAD! Don't miss the other side of this action-packed crossover event in THE PUNISHER #9!</p>
        <div class="shareWithFriend">
            <h3>Share With Friends</h3>
            <div class="flex">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-snapchat"></i></a>
            </div>
        </div>
    </div>
    </div>
</div>
<%include partials/footer.ejs %>